.dv-layout {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 20rem auto;
}

.dv-sidebar {
  grid-area: sidebar;
  position: fixed;
  width: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--secondary);
  box-shadow: var(--shadow);
  border: 1px solid var(--border-color);
}

.dv-sidebar-header {
  margin-bottom: 1rem;
}

.dv-sidebar-body {
  overflow-x: hidden;
  overflow-y: auto;
}

.dv-main {
  grid-area: main;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: var(--bg-color);
}
