body {
  font-family: system-ui;
}

h1 {
  font-weight: 500;
}

svg {
  background-color: #ffffff;
}

.container {
  margin: 0 10rem 0 10rem;
}

.row {
  display: flex;
}

.col {
  flex: 1 0 0;
}

.demo-card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: absolute;
  opacity: 0;
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 0.3rem;
  padding: 0.3rem;
  pointer-events: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.controls {
  padding-bottom: 0.5rem;
}

/* .slider {
  position: relative;
  cursor: pointer;
  pointer-events: auto;
}

input[type="range"] {
  position: absolute;
  pointer-events: none;
} */
