:root {
  --primary: #00618f;
  --secondary: #f5f5f7;

  --bg-color: #ffffff;

  --border-color: #dee2e6;
  --border-radius: 6px;

  --hover-color: #e9e9eb;
  --active-color: #d9d9db;

  --shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  --shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
}
