:root {
  --primary: #00618f;
  --secondary: #f1f1f1;

  --bg-color: #ffffff;

  --border-color: #d5dae5;
  --border-radius: 6px;

  --btn-hover-color: #f1f1f1;
  --btn-active-color: #e1e1e1;

  --shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  --shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
}
