<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>${title}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://d3js.org/d3.v7.min.js"></script>
  </head>
  <body>
    <div class="text-center">
      <h1 class="m-3">PieChart</h1>
      <div id="pie-chart" class="m-5"></div>
    </div>
    <script src="/js/PieChart.js"></script>
    <script>
      const chart = new PieChart("#pie-chart", 250);
      chart.create([
        { label: "Apples", value: 30, color: "#4269d0" },
        { label: "Bananas", value: 70, color: "#efb118" },
        { label: "Cherries", value: 45, color: "#ff725c" },
        { label: "Dates", value: 65, color: "#6cc5b0" },
        { label: "Elderberries", value: 20, color: "#3ca951" },
      ]);
    </script>
  </body>
</html>
